{%- style -%}
  @media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }
{%- endstyle -%}

<div class="video-wrapper">
  <video autoplay muted loop playsinline poster="https://cdn.shopify.com/s/files/1/0427/1217/0661/files/HOUSE_OF_CHOCOLAT_banner.png?v=1691945417">
    <source src="https://cdn.shopify.com/videos/c/o/v/298700b26b0149c98919737d206abb34.mp4" type="video/mp4">
    <img src="https://cdn.shopify.com/s/files/1/0427/1217/0661/files/HOUSE_OF_CHOCOLAT_banner.png?v=1691945417">
  </video>
</div>


{% schema %}
{
  "name": "Video banner",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
  ]
}
{% endschema %}
