{% schema %}
{
  "name": "Video banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  {
    "type": "image_picker",
    "id": "cover_image",
    "label": "Cover image"
  },
  {
    "type": "text",
    "id": "alt",
    "label": "ALT text"
  }]
}
{% endschema %}
{% stylesheet %}
.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
{% endstylesheet %}

{% javascript %}
  const DESKTOP_BREAKPOINT = 480;
  window.addEventListener("load",function() {
    let heroVideoEl = document.getElementById("hero-video");
    let heroVideoSrc = heroVideoEl.dataset.srcMobile
    let viewportWidth = window.innerWidth;
    if (viewportWidth >= DESKTOP_BREAKPOINT) {
      heroVideoSrc = heroVideoEl.dataset.srcDesktop;
    }
    heroVideoEl.src = heroVideoSrc;
  })
{% endjavascript %}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.alt
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

<div class="banner banner--content-align-center banner--content-align-mobile-center banner--medium banner--mobile-bottom video-wrapper">
  <video
    class="full-width-video"
    id="hero-video"
    alt-description="{{ video_alt }}"
    playsinline
    muted
    loop
    autoplay
    poster="{{ poster }}"
    data-src-mobile="https://cdn.shopify.com/videos/c/o/v/298700b26b0149c98919737d206abb34.mp4"
    data-src-desktop="https://cdn.shopify.com/videos/c/o/v/d3cbca5fadca4f7badcc2f0779f11392.mp4"
  >
    <div class="video-error">Uhoh, no video for you.</div>
  </video>
</div>
